* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.clr {
    clear: both;
}
.fexiable_content{
    display: flex;
    margin-bottom: 150px;
}
body {
    font-family: 'Poppins', sans-serif;
}


.banner {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;

}

.banner_content {
    width: 50%;
    float: left;
    margin-left: 2%;
    margin-top: 4%;

}

h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

h3 {
    font-size: 15px;
    padding-top: 30px;
}

p {
    padding-top: 40px;
    padding-bottom: 20px;
    color: dimgray;
}

.durjoy {
    color: orange;
}

.banner_img {
    width: 50%;
    float: left;
    padding-left: 12%;
}

.banner_img img {
    width: 80%;
}

.button {
    padding: 10px 20px;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    transition: all linear 0.4s;
}

.banner_content a {
    color: white;

}

.button:hover {
    background-image: linear-gradient(#ffbb00, orange);
}

.durjoy:hover {
    background: #ff0295;
    color: white;
}

/*big dream part start */

.big_dream {
    display: flex;
    /*margin-top: 150px;*/
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 200px;
}

.dream_content {
    float: left;
}

h2 {
    font-size: 40px;
}

.dream_img {
    width: 40%;
}

.dream_img img {
    width: 90%;
    padding-left: 10%;
}
h3{
    font-size: 25px;
    color: orange;
}

.dream_content {
    width: 43%;
    float: left;
    padding-left: 10%;
    padding-top: 3%;
}

/*big dream part end */

/* experiences part start */
.experience_part{
    
   background-image: url(../images/exp-bg.png);
   background-repeat: no-repeat;
   background-position-y: 92px;
}
.experience_item{
    width: 40%;
    margin-left: 5%;
    margin-right: 2%;
    padding: 36px 0px 80px 27px;
    box-shadow: 10px 10px 60px rgb(75, 71, 71);
    border-radius: 10px;
}
.experience_content_01{
    
border-image: linear-gradient(#faf605, tomato);
border-left: 10px solid;
border-image-slice: 1;
}
.experience_content_02{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
/* experiences part end */
/* footer part start */
footer{
    text-align: center;
}
footer p{
    color: rgb(212, 0, 255);
    font-weight: 900;
}
/* footer part end */